body{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

    text-align: center;
}

h1{
    font-size: 25px;
    font-weight: bold;
    margin: 25px 0;
}

ol {
    margin: 0 0 20px 0;
    padding: 0;
}

li{
    margin: 10px auto;
    text-decoration: underline;
    cursor: pointer;
    width: 300px;
}

button{
    width: 50px;
    margin: 0px 7px 7px 0px;
}

textarea {
    width: 500px;
    text-align: center;
    font-size: 15px;
}

.reviewlist_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.comment, .score {
    list-style: none;
    padding: 0px;
}